body{
    margin: 0 250px;
}
.link-img{
    transform: scale(0.7);
}
.parent-container{
    display: flex;
    justify-content: center;
}
.flex-container{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-container a{
    width: 130px;
    margin-bottom: 10px;
}

.flex-container img{
    width: 100%;
    height: auto;
}
