body{
    margin: 0 300px;
}
strong{
    font-size: 20px;
    background-color: rgb(130, 219, 248);
    padding: 4px;
    border: 2px solid #a9a9a9;
    width:200px;
}
.ja{
    margin-top: 20px;
    font-size: 15px;
    padding: 4px;
    border: 1px solid #b2b2b3;
    width: 200px;
    background-color: #b2b2b3;
}
.ja-s{
    background-color: rgb(244, 112, 75);
}
.php{
    background-color: rgb(126, 106, 164);
}
hr{
    margin-bottom: 20px;
}