body{
    margin: 0 100px;
}
strong{
    font-size: 20px;
    background-color: rgb(130, 219, 248);
    padding: 4px;
    width:200px;
}
.ja{
    margin-top: 20px;
    font-size: 15px;
    padding: 4px;
    border: 1px solid #b2b2b3;
    width: 200px;
    background-color: #b2b2b3;
}
.ja-s{
    background-color: rgb(244, 112, 75);
    padding: 10px 10px;
}
.php{
    background-color: rgb(126, 106, 164);
    padding: 10px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.return {
    display: block;
    width: 40px;
    padding: 10px 50px;
    color: black;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    background-color: #a09f9f;
    border: none;
    font-size: 16px;
}
.eee{
    text-align: center;
}

.tako{
    background-color: rgb(215, 252, 3);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.rails{
    background-color: rgb(252, 3, 3);
    color: white;
    padding: 10px;
}

.line{
    background-color: rgb(0, 255, 0);
    color: black;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }

    .link-img {
        height: auto;
    }

    .parent-container {
        height: auto;
        flex-direction: column;
    }

    .flex-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .mini {
        width: 100%;
    }

    .img-1 {
        margin-left: 0;
        margin: 20px;
    }

    .port-1 {
        margin-left: 0;
        width: 90%;
    }
    .flex{
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 1.2em;
    }

    .img-1 {
        margin: 10px;
    }

    .port-1 {
        width: 95%;
    }
}